In [1]:
import time
import pandas as pd
import numpy as np

from datetime import datetime
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [2]:
browser = webdriver.Chrome()
base_url = u'https://twitter.com/'
query = u'realDonaldTrump'
url = base_url + query

browser.get(url)
time.sleep(1)

body = browser.find_element_by_tag_name('body')

for _ in range(500):
    body.send_keys(Keys.PAGE_DOWN)
    time.sleep(0.05)
    
tweets = browser.find_elements_by_class_name('js-tweet-text-container')
times = browser.find_elements_by_class_name('_timestamp')

In [3]:
len(tweets)

649

In [4]:
len(times)

829

In [5]:
# create the dataframe to store the data
df = pd.DataFrame(data=[tweet.text for tweet in tweets], columns=['Tweets'])

In [6]:
df.head()

                                              Tweets
0  Epic crowd in Moon Township, Pennsylvania toni...
1  Join me LIVE in Moon Township, Pennsylvania at...
2  The European Union, wonderful countries who tr...
3  In the first hours after hearing that North Ko...
4  North Korea has not conducted a Missile Test s...

### extract the time of the tweets

In [7]:
# create a vacant list for dates
dates = []
for time in times:
    dates.append(datetime.fromtimestamp(float(time.get_attribute('data-time'))))

In [8]:
se = pd.Series(dates)
df['Date'] = se.values

In [9]:
df.head()

                                              Tweets                Date
0  Epic crowd in Moon Township, Pennsylvania toni... 2018-03-10 20:37:31
1  Join me LIVE in Moon Township, Pennsylvania at... 2018-03-10 18:56:47
2  The European Union, wonderful countries who tr... 2018-03-10 16:29:37
3  In the first hours after hearing that North Ko... 2018-03-10 15:02:02
4  North Korea has not conducted a Missile Test s... 2018-03-10 13:38:17

In [10]:
df["Year"] = np.array([y.year for y in dates])
df["Month"] = np.array([m.month for m in dates])
df["Day"] = np.array([d.day for d in dates])

In [11]:
df.head(5)

,Tweets,Date,Year,Month,Day
0,"Epic crowd in Moon Township, Pennsylvania toni...",2018-03-10 20:37:31,2018,3,10
1,"Join me LIVE in Moon Township, Pennsylvania at...",2018-03-10 18:56:47,2018,3,10
2,"The European Union, wonderful countries who tr...",2018-03-10 16:29:37,2018,3,10
3,In the first hours after hearing that North Ko...,2018-03-10 15:02:02,2018,3,10
4,North Korea has not conducted a Missile Test s...,2018-03-10 13:38:17,2018,3,10

In [12]:
df.tail(5)

,Tweets,Date,Year,Month,Day
824,The decision on Sergeant Bergdahl is a complet...,2017-11-03 12:54:59,2017,11,3
825,"JOBS, JOBS, JOBS!",2017-11-03 12:22:11,2017,11,3
826,"The rigged Dem Primary, one of the biggest pol...",2017-11-03 12:09:52,2017,11,3
827,Just took off for ceremony @ Pearl Harbor. Wil...,2017-11-03 10:45:56,2017,11,3
828,I always felt I would be running and winning a...,2017-11-03 10:29:55,2017,11,3

In [13]:
df.to_csv("/Users/dingyunxing/Documents/AnacondaProjects/tweetTrump/tweet/all_tweets.csv")